/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif;
}

/*  1. Làm từ ngoài vào trong
    2. Làm từ trên xuống dưới
    3. Làm từ tổng quan đến chi tiết. 
*/
/*  1. Vị trí
    2. Kích thước
    3. Màu sắc
    4. Kiểu dáng(Kiểu chữ, hình dạng)
 */


#header {
    height: 46.5px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;

}

#nav>li>a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
    line-height: 46.5px;
    display: inline-block;

}

#nav>li:hover>a,
#nav .subnav a:hover {
    color: black;
    background-color: #ccc;
    display: block;


}

#nav li:hover .subnav {
    display: block;
}


#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;

}

#nav .subnav a {
    color: black;

}

#nav .icon-down {
    font-size: 14px;
}

#header .search {
    float: right;
    width: 61.94px;
    text-align: center;
}

.search .search-icon {
    line-height: 46.5px;
    color: white;

}

#header .search:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('1.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-newyork {
    font-size: 24px;
}

#slider .text-feel {
    font-size: 15px;
    margin-top: 25px;
}

#content {}

#content .About {
    width: 800px;
    height: 671px;
    margin: 0 auto;
    padding: 64px 16px;


}

.About .theband {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 30px;
}

.slogan {
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    font-size: 15px;
}

.text {
    margin: 15px 0;
    text-align: justify;
    font-size: 15px;
}

#content .member {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 15px;
    padding: 32px 0;
}

.member .img {
    width: 60%;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 16px;
}

/*  Start Tour Dates */

.tour {
    background-color: black;
}

.Tour_date {
    margin: 0 auto;
    padding: 64px 16px;
    width: 766px;
}

.Tour_date .theband {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.Tour_date .slogan {
    text-align: center;
    color: white;
}


.ticket_month {
    background-color: #fff;
    list-style: none;

}

.ticket_month>li {
    height: 45px;
    padding: 8px 16px;
    border-bottom: 1px solid rgb(156, 154, 154);
}


.ticket_month .September,
.Octorber {
    color: #fff;
    background-color: #f44336;
    margin-left: 20px;
    font-size: 15px;
    padding: 5px 7px;
}

.November {
    float: right;
    height: 24px;
    width: 24px;
    background-color: black;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: 4px;
}

/* End Tour Dates */

/*   Start Location Tour */
.location_tour{
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
           
}
.location {
    float: left;
    width: 33.3333%;
    padding: 0px 8px;
    
        
}

.location_img{
    width: 100%;
}
.text{
    background-color: #fff;
    margin-top: -5px;
    padding: 15px 0px;
    
}
.place, .date, .buy_ticket, .description {
    margin: 15px 15px;
    font-family:  sans-serif;
   
    
}
.buy_ticket{
    background-color: black;
    color: #fff;
    padding: 8px 16px;
    font-size: 15px ;
    
}
.description{
    font-size: 15px;
}
.date{
    font-size: 15px;
    color: rgb(122, 122, 122)
}
.place{
    font-size: 15px;
}
.clear{
    clear: both;
}
/*  End Location Tour */

/*  Start Contact */
.Contact{
    margin: 0 auto;  
    padding: 64px 16px;
}

.Contact .title{
    font-size: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 10px 0;
    text-align: center;
}
.Contact .slogan{
    font-size: 15px;
    font-family: sans-serif;
    margin: 15px 0;
}
.form{
    padding: 32px 0px;
    display: flex;
    justify-content: center;
    
    
    
}
.message{
    width: 100%;
}